@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --button-primary: #50d620;
}

body {
  .btn-primary {
    background-color: var(--button-primary);
  }
  .green-highlight {
    color: var(--button-primary);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
